/target/
/src/main/resources/application.yml
.idea/
.DS_Store
*.iml
.DS_Store
/.settings/
/tmtu-project/src/main/resources/application-arvind.yml
/tmtu-project/src/main/resources/application.yml
afcs_config.ini
role_access.json
.settings/*
.classpath
.factorypath